<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Welcome Back!</h2>
    </div>
    <form action="/login" method="POST">
        <input placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <div class="mdl-card__actions mdl-card--border">
            <a>
                <input type="submit" value="Login" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            </a>
        </div>
    </form>
</div>