<!-- Simple Textfield -->
<div class="cards">
    <form action="/new_post" method="POST">
        <div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="title" name="title">
                <label class="mdl-textfield__label" for="title">Title</label>
            </div>
        </div>
        <!-- Floating Multiline Textfield -->
        <div>
            <div class="mdl-textfield mdl-js-textfield full-width">
                <textarea class="mdl-textfield__input" type="text" rows="10" id="body" name="body"></textarea>
                <label class="mdl-textfield__label" for="body">Text lines...</label>
            </div>
        </div>
        <!-- Colored FAB button with ripple -->
        <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

    </form>
</div>


