<!-- Simple Textfield -->
<div class="cards">
    <form action="#">
        <div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Title</label>
            </div>
        </div>
        <!-- Floating Multiline Textfield -->
        <div>
            <div class="mdl-textfield mdl-js-textfield full-width">
                <textarea class="mdl-textfield__input" type="text" rows="10" id="sample5"></textarea>
                <label class="mdl-textfield__label" for="sample5">Text lines...</label>
            </div>
        </div>
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
        
    </form>
</div>


