<h2>Sign up</h2>
<form action="/sign_up" method="POST">
    <input placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="Register">
</form>