body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.content {
  overflow-y: auto;
}







/*themes https://material.google.com/style/color.html#color-themes */

/*accent color: A0FFFD waterspout
Text fields and cursors
Text selection
Progress bars
Selection controls, buttons, and sliders
Links*/

/*gray color scheme
700#616161
800#424242
900#212121*/

.status_bar {

}

.header {

}

.card {

}